@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #09090b;
  color: white;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}